*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.align-vert {
    padding: 5px;
    align-self: center;
}

.flex{
    display: flex;
}
div.header-bar{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #000000;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-size: 80%;
}
.main-header-section img{
    margin-bottom: 1rem;
}
.header-icons{
    font-size: 25px;
    margin-right: 0.3rem;
}
#add{
    font-size: 40px;
}

.header-bar ul li{
    margin-bottom: 1rem;
    color: white;
}
.footer-header{
    color: white;
}
#img-mobile-on{
    display: none;
}
.line{
    margin: 1rem 0 1rem;
}

.main-container{
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow: auto;
}
.main-container h3{
    color: white;
}
.main-container h4{
    color: #62666a;
}

.upgrade{
    height: 60px;
    background-color: #080b12;
    justify-content: flex-end;
    position: fixed;
    right: 0px;
    z-index: 2;
    width: calc(100% - 250px);

}
.upgrade button{
    right: 0;
    width: 180px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}
.upgrade button > h4{
    color: white;
}
.main-nav ul{
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 4rem;
}
.main-nav ul > li{
    padding: 1rem 0.5rem 1rem;
}
.main-nav a{
    color: #84858a;
    font-size: 0.8rem;
}
.recently,
.for-you,
.popular{
    padding: 1rem;
    flex-wrap: wrap;
}
.category{
    padding: 1rem;
    color: white;
}
.category p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #727579;
}
.song {
    width: calc(100% / 6 - 0.5rem);
    margin-right: 0.5rem;
    text-align: center;
}
.song img{
    width: 100%;

}
.song-title{
    margin: 1.5rem 0 1.5rem;
}

.footer-nav-bar{
    width: 100vw;
    height: 100px;
    background-color: #282828;
    justify-content: space-between;
    padding: 1rem 0.2rem 1rem;
}
.footer-nav-bar ul > li{
    margin-right: 1.5rem;
    justify-content: space-between;
}

.playing,
.player,
.functions{
    color: white;
    align-items: center;
    width: calc(100% / 3);
}
.playing{
    align-items: center;
}
.footer-icons{
    margin-left: 4rem;
}
.playing img{
    width: 50px;
    height: 50px;
}
.playing h3{
    font-size: 0.6rem;
}
.playing p{
    font-size: 0.5rem;
}
.playing i{
    margin-left: 0.5rem;
}
.player{
    justify-content: center;
    align-items: center;
}
.player ul{
    justify-content: space-evenly;
    width: 35%;
    margin: 0 auto;
    align-items: center;
}
#play-icon{
    font-size: 30px;
}
.player p{
    font-size: 60%;
}
.player-bar{
    padding: 1rem ;
    justify-content: space-evenly;
}
.bar{
    height: 5px;
    background-color: #5a5a5a;
    width: 60%;
    margin-top: 3px;
    border-radius: 15%;
}

#volume-bar{
    height: 5px;
    background-color: #5a5a5a;
    margin-top: 7px;
    border-radius: 15%;
    width: 120px;
}
.functions{
    justify-content: flex-end;
}

@media  screen and (max-width: 768px){

    .song {
        width: calc(25% - 0.5rem);
    }
    .main-nav ul{
        list-style: none;
        flex-wrap: wrap;
    }
    .main-nav li > a {
        width: calc(20% / 5 - 0.5rem);
    }

}

@media  screen and (max-width: 576px){

    .song {
        width: calc(50% - 0.5rem);
    }
    .main-nav li > a{
        width: calc(100% / 3 - 0.5rem) ;
    }
    #volume-bar{
        width: 60px;
    }
}

@media screen and (max-width:480px) {
    div.header-bar{
        width: 60px;
    }
    .main-container{
        width: calc(100vw - 60px);
    }
    
    .upgrade{
        width: calc(100% - 60px);
        
    }
    .main-nav li > a{
        width: calc(100% / 4 - 0.5rem) ;
    }
    .mobile-none{
        display: none;
    }
    #img-mobile-on{
        display: block;
        width: 25px;
    }
    .install i{
        margin-bottom: 1rem;
    }
    .center{
       padding-left: 5px;
    }
}
