*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
body{
    display: flex;
    flex-wrap: wrap;
}
div.header-bar{
    width: 15vw;
    height: 90vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.header-bar ul li{
    margin-bottom: 1rem;
}

.main-container{
    width: 85vw;
    height: 90vh;
    background-color: beige;
    overflow: scroll;

}
.footer-nav-bar{
    width: 100vw;
    max-height: 10vh;
    display: flex;
    background-color: grey;
}